<script src="../js/user.js">
</script>
<div class="well">
    <h2> Create a new group chat</h2>
    <!-- <form name="groupForm" class="groupForm"> -->
        <div class="row">
            <input type="text" class="form-control" name="gname" id="groupName" placeholder="Group Name" />
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="find" placeholder="Find from your friends list" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                </span>
            </div>
            <br>
            <div>
                <ul name="member" id="member">
                    <li class="mcontent">
                        <h4><span class="label label-success">friend 1<span class="glyphicon glyphicon-remove delete-friend" click=""></span></span></h4>
                    </li>
                </ul>
            </div>
            <textarea rows="5" cols="20" class="form-control" name="description" id="description" placeholder="Write some description about your group"></textarea>
            <br>
            <button class="btn btn-default btn-lg" id="doneButton" name="doneButton">
                Done <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
        </div>
        <!-- /.col-lg-6 -->
    <!-- </form> -->
</div>
 <script src="../js/group.js"></script>
