<div class="group-chat">
    <header class="banner">
        <h1 class="bannertext">
            <a href="" id="logo">Group Chat</a>
        </h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="group-member-list col-sm-2">

            </div>
            <!-- the same panel on p2pchat.ejs -->
            <div class="chatting col-sm-8">
                <div class="chatscreen row">
                    <ul class="chats col-sm-9 col-sm-push-1">
                        <!-- The chat messages will go here -->
                    </ul>
                </div>
                <div class="row">
                    <form id="chat-message-form">
                        <div class="col-sm-1"><img src="/img/male.png"></div>
                        <div class="col-sm-9">
                            <textarea class="form-control chat-message-textarea" placeholder="Write something.." rows=3></textarea>
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" class="form-control btn-primary chat-message-submit" value="SEND" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //TODO chat graceful way to get params?
    var group = {
        id: '<%= group.id %>'
    };
</script>

<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/group-chat.js"></script>
