<!DOCTYPE html>
<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->
<html>

<head>
    <title>Lixue Chatroom</title>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>

<body background="img/home1.jpg">
    <div class="homebanner row">
        <h1 class="homebannertext col-xs-4">
				<a href="/" id="logo">Li Xue<span> Chatroom</span></a>
			</h1>
        <a title="signIn" href="/sign-in" id="signIn" class="homesignin col-xs-2">
            <button type="button" class="btn btn-success">Sign In</button>
        </a>
    </div>
    <section>
        <div class="homesection">
            <div class="node">
                <img src="img/homeIcon.png" alt="homelogo" id="homelogo" />
                <h2 id="chat">Start chatting here, make new fiends, make your life more interesting.</h2>
            </div>
            <!-- <a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a> -->
            <div class="homesignup">
                <span class="signintext">Don't have an account? Sign up here.</span>
                <a title="signUp" href="/sign-up" id="signUp">
                    <div id="signUpButton">
                        <button type="button" class="btn mids"><span>Sign Up</span></button>
                    </div>
                </a>
            </div>
        </div>
    </section>
 
        <span class="hfooter">2016-4-21 copyright summer.li<span>
	
</body>
</html>
