<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/123.png">

    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/stylesheet.css' />
    <link rel='stylesheet' href='/css/signin.css' />
    <link rel='stylesheet' href="/bower_components/bootstrap/dist/css/bootstrap.css"></link>
    <link rel='stylesheet' href="/bower_components/toastr/toastr.min.css"></script>
    <link href="../css/person.css" rel="stylesheet" />
  <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css"> -->

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/jquery-cookie/jquery.cookie.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower_components/toastr/toastr.min.js"></script>
  <script type="text/javascript" src="/bower_components/underscore/underscore-min.js"></script>
  <script src="/bower_components/moment//min/moment.min.js"></script>

    <% if( typeof(title) != 'undefined'){ %>
        <title><%= title %></title>
    <%} %>

</head>

<body>
  <div class="homebanner">
        <h1 class="homebannertext col-xs-8">
            <a href="/" id="logo">Li Xue<span> Chatroom</span></a>
        </h1>
        <a title="signIn" href="/sign-in" id="signIn" class="homesignin col-xs-4 col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-success col-xs-12">Sign In</button>
        </a>
    </div>
    <!-- <div class="container"> -->
      <%- body %>
    <!-- </div> -->
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
</html>