<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='css/style.css' />
  <link rel='stylesheet' href='css/stylesheet.css' />
  <link rel='stylesheet' href="/bower_components/bootstrap/dist/css/bootstrap.css"></link>
   <link href="../css/person.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <% if( typeof(title) != 'undefined'){ %>
        <title><%= title %></title>
    <%} %>

</head>

<body>
    <div class="container">
      <%- body %>
    </div>
</body>
<script type="text/javascript" src="js/public.js"></script>
</html>