<header class="banner">

		<h1 class="bannertext">
			Chatting with <%= friend.name %>
		</h1>

</header>

<div class="container p2pchat" style="text-align:center">
    <div class="row wait-for-friend">
        <h1>Please wait for your friend <strong><%= friend.name %></strong> to join the chatroom.</h1>
    </div>
    <div class="chatting hidden">
        <div class="chatscreen row">
            <ul class="chats  col-sm-9 col-sm-push-1">
                <!-- The chat messages will go here -->
            </ul>
        </div>
        <div class="row">
	        <form id="chat-message-form">
	            <div class="col-sm-1"></div>
	            <div class="col-sm-7">
	                <textarea class="form-control chat-message-textarea" placeholder="Write something.." rows=3></textarea>
	            </div>
	            <div class="col-sm-2">
	                <input type="submit" class="form-control btn-primary chat-message-submit" value="SEND" />
	            </div>
	        </form>        	
        </div>
    </div>
</div>

<script type="text/javascript">
    //TODO chat graceful way to get params?
    var friend = {
        name: '<%= friend.name %>'
    };
</script>

<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/chat.js"></script>   