
	<section>
		<div class="chatscreen">

			<ul class="chats">
				<!-- The chat messages will go here -->
			</ul>

		</div>
	</section>
<footer>
	<form id="chatform">
		<textarea id="message" placeholder="Write something.."></textarea>
		<input type="submit" id="submit" value="SEND"/>
	</form>
</footer>

	<script src="../js/chat.js"></script>