
<div class="well chatwell">
		<div>

			<ul >
				<li class="mcontent">
					<div class="chatwith row">
						<img src="img/male.png" class="col-xs-1 pull-left" />
						<span><p class="col-xs-3 pull-left">rgrtgtr</p></span>
					</div>
				</li>
				<li class="mcontent">
					<div class="chatwith row">
						<img src="img/female.png" class="col-xs-1 pull-right" />
						<span><p class="col-xs-3 pull-right">rgrtgtr</p></span>
					</div>
				</li>

			</ul>

		</div>


	<form id="chatform" class="col-xs-12">
		<textarea id="message" placeholder="Write something.." class="col-xs-10"></textarea>
		<input type="submit" id="submit" class="col-xs-2" value="SEND"/>
	</form>
	<div class="clearfix"></div>
</div>

