
    <meta name="author" content="" />
    <title>Personal Homepage</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->

    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <!-- FONT AWESOME  CSS -->
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/person.css" rel="stylesheet" />

    <div class="panel panel-default">
        <div class="panel-heading">
            <!-- <h3 class="panel-title">Panel title</h3> -->
            <span class="glyphicon glyphicon-user pull-left"></span>
            <span class="col-xs-1"><b><i><%= userName %></i></b></span>
            <span class="inbox1">Messages<span class="badge">42</span></span>
            <span class="col-xs-4"><%= date %></span>
            <button type="button" class="btn btn-default pull-right"><a class="glyphicon glyphicon-off" href="/logout"></a></button>

        </div>
<div class="btn-group col-xs-12">
  <button type="button" class="btn btn-default dropdown-toggle col-xs-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="glyphicon glyphicon-plus" click=""></span>
  </button>
  <ul class="dropdown-menu col-xs-12">
    <li><a href="/search">Add a new friend</a></li>
    <li><a href="/create-group">Create a new group chat</a></li>
  </ul>
</div>

        <div class="panel-body">
            <div class="tabbable cont">
                <div class="tab-content contents">
                    <div id="pane1" class="tab-pane active" name="pane1">
                        <h4>recent chats</h4>
                        <ul class="list-group">
                            <li class="list-group-item">Name1 history1</li>
                            <li class="list-group-item">Name2 history2</li>
                            <li class="list-group-item">Name3 history3</li>
                            <li class="list-group-item">Name4 history4</li>
                            <li class="list-group-item">Name5 history5</li>
                        </ul>
                    </div>
                    <div id="pane2" class="tab-pane" name="pane2">
                        <h4>your friends</h4>
                        <ul class="list-group">
                           <!--  <li class="list-group-item"><a href="/p2p-chat">Friend1 history1</a></li>
                            <li class="list-group-item">Friend2 history2</li>
                            <li class="list-group-item">Friend3 history3</li>
                            <li class="list-group-item">Friend4 history4</li>
                            <li class="list-group-item">Friend5 history5</li> -->
                        </ul>
                    </div>
                    <div id="pane3" class="tab-pane" name="pane3">
                        <h4>your groups</h4>
                        <ul class="list-group">

                        </ul>
                    </div>
                </div>
                <ul class="nav nav-tabs myTabs" id="myTabs" name="myTabs">
                    <li class="col-xs-4 active"><a href="#pane1" data-toggle="tab">Recently</a></li>
                    <li class="col-xs-4" id="friendsTab"><a href="#pane2"  data-toggle="tab">Friends</a></li>
                    <li class="col-xs-4" id="groupsTab"><a href="#pane3" data-toggle="tab">Groups</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="js/user.js"></script>
    <script src="js/group.js"></script>
    <script src="js/personalPage.js"></script>

