<link rel='stylesheet' href="css/search.css"></link>
<div class="search">
<div class="page-header">
	<h4 class="searchfriend">Looking for a new friend</h4>
</div>

<div class="searchbox">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." id="searchText">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="searchButton">Search</button>
      </span>
    </div>
</div>
<% if(typeof(users) != 'undefined') {%>


<%} %>
<div class="">
    <ul class="list-group" id="searchResults">

    </ul>
</div>
</div>
<script src="../js/user.js"></script>