    <link href="../css/signin.css" rel="stylesheet">
<div class="signIn">
    <div class="container">
      <div id="msg" style="background-color: red;"><%= msg %></div>
      <form class="form-signin" method="post" action="/sign-in">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">User Email</label>
        <input type="text" id="signInUserName" class="form-control" placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember" name="remember"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        Don't have an account? <a href="/sign-up">Sign up</a> here.
      </form>

    </div>
  </div>
    <script src="../js/user.js"></script>


