
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="../css/signin.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />



    <div class="container">
      <div id="msg" style="background-color: red;"><%= msg %></div>
      <form class="form-signin" method="post" action="/sign-in">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">User Email</label>
        <input type="text" id="signInUserName" class="form-control" placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember" name="remember"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="/sign-up">Don't have an account? Sign up here.</a>
      </form>

    </div>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/user.js"></script>


