@font-face {
    font-family: Glyphicons Halflings;
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}

.tab_content {
    display: none;
}
.contents{
    height: 500px;
}
.glyphicon-plus {
    vertical-align: center;
}
.inbox1 {
    vertical-align: center;
}
.delete-friend {
    margin-top: 10px;
    margin-left: 5px;
}

.home.container {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}
.badge {
    margin-left: 10px;
}

body {
  height: 100%;
}
